[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ../../appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ../../../bots/msf_model_bot.py

# Name of the bot in-game
name = PG642_MSF

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 24

[Bot Parameters]
# Path for model
#TODO Custom path
model_path = D:\PG\Run_Ergebnisse\grid_saving_training_perf_008_000_3\checkpoint_p0\checkpoint_000012858_105332736.pth

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = TU Dortmund: PG 642

# Short description of the bot
description = This is a multi-line description
    of the official python example bot

# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
